@model IEnumerable<ControleAcademico1.Models.Trabalho>
@{
    ViewData["Title"] = "Lista de Trabalhos";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>
    <div class="d-flex justify-content-end mb-4">
        <a asp-action="Create" class="btn btn-primary">Criar Novo Trabalho</a>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Título</th>
                <th>Tipo</th>
                <th>Autor</th>
                <th>Orientador</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Titulo</td>
                    <td>@item.Tipo</td>
                    <td>@item.Autor.Nome</td>
                    <td>@item.Orientador.Nome</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
